.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 20px;
  height: 100vh;
  width: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 100vh;
  width: 70%;
}

.cart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
}