.selected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 50px;
}

.itemDescription {
    margin-left: 20px;
}